<h2>Entry</h2>
<% form_for :user do |form| %>
  <fieldset>
    <legend>New Log Entry</legend>
    
    <%= error_messages_for "user" %>

    <div class="form_row">
    <label for="weight">Weight:</label>
    <%= form.text_field :weight %>
    <br />
    </div>

    <div class="form_row">
    <label for="entry_date">Date:</label>
    <%= form.text_field :entry_date %>
    <br/>
    </div>

    <div class="form_row">
    <label for="notes">Notes:</label>
    <%= form.text_field :notes %>
    <br/>
    </div>

    <%= submit_tag "Record Entry", "class" => "submit" %>
  </fieldset>
<% end %>

